.container{
    display: flex;
    justify-content: center;
}
.panel{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
.num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border: 1px solid black;
}
.num.quiz{
    font-weight: 700;
    background-color: beige;
}
.num:not(.quiz):active{
    background-color: rgb(47, 177, 56);
}